body {
    background-color: rgb(#F8F8F8);
}

.container-login {
    width: 400px !important;
    border: 1px solid #d4d4d4;
    background-color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;

    border-radius: 2%;
    padding: 0px;
}

html,body {
    height: 100%;
  }

.header-login {
    background-color: rgb(223, 221, 221);
    padding: 10px;
    padding-left: 25px;
    font-size: 20px;
}

.form-input {
    padding: 5%;

}

.text-header {
    width: 80%;
    display: inline;
}
.text-header-cms{
    text-align: left !important;
    display: inline;
}
.header{
    background-color: #dddddd;
}
.group-user{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.template{
    background-color: #e7e6e6;
    padding-right: 0;
}
div.text-right{
    margin: 0;
}
i.fa{
    color: rgb(20, 20, 73);
}
.header-profile{
    background-color: #dddddd;
}

